
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-regular);
}
*:focus-visible,
*:focus {
  outline: none;
}

:root {
  --primary-color: #026980;
  --secondary-color: #747474;
  --light-color: #D3D3D3;
  --heading-bg: #F8F8F8;
}
body {
  background-color: #f3f1f1;
  font-family: "Poppins", sans-serif;
}
p {
  margin: 0;
}
.custom-scrollbar {
  &::-webkit-scrollbar {
    background-color: #eaecf0;
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 3px;
  }
  scrollbar-track-color: #eaecf0;
  scrollbar-color: var(--primary-color);
  scrollbar-width: 10px;
}
.main-input, .rs-input-group, .rs-input-group, .rs-picker-toggle, .rs-btn-default {
  &:hover, &:focus-within &:active &:focus {
    border-color: var(--light-color) !important;
    outline: none !important;
  }
}
.rs-picker-default, .rs-input-group {
  width: 100%;
}
.rs-picker-toggle, .rs-input-group {
  border-radius: 57px !important;
}
.rs-modal-content {
  padding: 0 !important;
}
.rs-pagination-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--light-color);
  color: var(--light-color);
}
.rs-pagination-btn-active, .rs-picker.rs-picker-focused, .rs-picker-toggle-active, .rs-btn-default {
  border-color: var(--light-color) !important;
  outline: none;
}
.active-link {
  svg > g >* {
    fill: var(--primary-color);
  }
}
.inactive-link {
  svg > g >* {
    fill: white;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (max-width: 992px) {
  .sidebar {
    width: 70px;
    .list-title {
      display: none;
    }
  }
  .layout {
    width: calc(100% - 70px);
    left: 70px;
  }
  .searchbar {
    width: 100%;
  }
  .action-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    order: -1;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
